<!--Toast-->
<div id="peek-bar" class="peek-a-bar success d-none">{{ messagesService.message }}</div>

<!--Modal-->
<div
  class="modal fade"
  id="mensaje_default"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">{{ messagesService.title }}</div>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ messagesService.message }}
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary px-4"
          data-dismiss="modal"
          id="default_cancel"
        >
          Cancel
        </button>
        <button type="button" class="btn btn-primary px-4" id="default_accept">
          Sure, delete it
        </button>
      </div>
    </div>
  </div>
</div>
